.single_post_container{
    width: 100%;
    padding-left: 5px;
}

.view_post_label{
    width: 100%;
    border-bottom: 1px solid #c3c2c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 7px;
}


.time_and_privacy{
    display: flex;
    align-items: center;
    margin: 2px 0px 0px 7px;
    font-style: italic;
    font-size: 13px;
}

.single_post_comment_count{
    border-radius: 0;
    width: 100%;
    margin-left: 0px;
    margin: 0px 0px 10px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
}

.single_post_comment_count>div>img{
    width: 20px;
    margin-right: 6px;
}

.comments{
    padding: 0px 10px;
}

.post_owner_comments img{
    width: 29px;
    border-radius: 20px;
}

.post_owner_comments .rs-timeline-item-dot{
    left: -8px;
}

.post_owner_comments .rs-timeline-item-content{
    padding-top: 9px;
    padding-left: 2px;
}

.comment_time{
    font-size: 11px;
    margin-top: 3px;
    color: #fd9401;
    font-weight: bold;
}

.comment_pics_and_name{
    margin-top: 15px;
    margin-left: -7px;
    padding-top: 7px;
}

.normal_comments p{
    margin-left: 28px;
}

.normal_comments{
    margin-bottom: 45px;
}

.comment_input_container{
    position: sticky;
    width: 100%;
    height: 45px;
    background-color: white;
    bottom: -30px;
}

.second_section_container{
    width: 98%;
    margin-left: 10px;
    /* height: 92vh; */
    /* position: sticky; */
    padding-bottom: 20px;
    /* top: -18px; */
    background-color: white;
    border: 1px solid #160e1a30;
}

.comment_gif_body{
    width: 30%;
}

.comment_container .rs-modal-dialog{
    margin: 0 !important;
}

.comment_container .rs-modal-content{
    height: 84vh;
}

.single_post_body{
    width: 50%;
    margin-right: 15px;
}

@media all and (max-width: 700px){
    .comment_container{
        width: 100%;
    }

    .comment_container .rs-modal-content{
        height: 89vh;
    }

    .comment_container .rs-modal-body{
        max-height: 800px;
        overflow-x: hidden !important;
    }

    .second_section_container{
        margin: 0;
        width: 100%;
    }
}