.auth_container{
    width: 100%;
    height: 100vh;
}

.second_design{
    display: flex;
    width: 100%;
    height: 100%;
}

.first_section{
    height: 100%;
    width: 50%;

}

.second_section{
    height: 100%;
    overflow: hidden;
    width: 50%;
}

.auth_nav{
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-top: 11px;
    margin-bottom: 10px;
}

.welcome_auth_message{
    color: #5b3333;
    margin-left: 20px;
}

.signup_form_scroll{
    overflow: auto;
    height: 85%;
    padding-bottom: 25px;
}

@media all and (max-width: 690px){
    .second_design{
        justify-content: center;
    }

    .first_section{
        position: absolute;
        width: 80%;
    }
    
    .login_form_container{
        background-color: #ffffff82;
        padding-bottom: 20px;
    }
    
    .second_section{
        width: 100%;
    }
}

@media all and (max-width: 550px){
    .first_section{
        width: 100% !important;
    }
}